<ion-header>
  <ion-toolbar color="primary">
    <ion-title >Applicants</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="detailbookingimg" >
    <img src="../../../assets/icon/apartment3.png" alt="">
  </div>

  <ion-card class="detailbookingcard">
    <ion-card-header>
      <ion-card-subtitle  color="primary">View Booking</ion-card-subtitle>
      <ion-card-title color="primary">Poonam Vista A-403</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <b>Unit type</b> : 1BHK <br>
      <b>Floor</b> : 4<br>
      <b>Saleable Area</b> : 625 sq. ft<br>
      <b>Rera Area</b> : 33.79 sq. mt <br><br>

      <!-- <ion-list-header></ion-list-header> -->
      <!-- <p> -->
        <ion-chip color="primary">
          <ion-label> Allotment Letter</ion-label>
        </ion-chip>
        <ion-chip color="warning">
          <ion-label>NOC</ion-label>
        </ion-chip>
        <ion-chip color="success">
          <ion-label>Cost Sheet</ion-label>
        </ion-chip>
        <ion-chip color="danger">
          <ion-label>Agreement Intimation</ion-label>
        </ion-chip>
        <ion-chip color="tertiary">
          <ion-label>Agreement</ion-label>
        </ion-chip>
        <ion-chip color="secondary">
          <ion-label>Demand Print</ion-label>
        </ion-chip>
        <ion-chip color="warning">
          <ion-label>Tax Invoice</ion-label>
        </ion-chip>

      <!-- </p> -->
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content class="detailbookingcard">
      <ion-list>

        <ion-item>
        <ion-avatar slot="start">
          <img src="../../../assets/icon/avatar2.jpg" >
        </ion-avatar>

          <ion-label>
            <h2>Mr. Rakesh Gundu Kanojia</h2>
            <h3>Applicant</h3>
            <p>303, Narayan Apt, Bldg No.8, Narayan Nagar, Gass Kopari, Virar East, Palghar 401305</p>
            <p>9773729522</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../assets/icon/avatar3.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Mrs. Madhuri Rakesh Kanojia</h2>
            <h3>Co-Applicant</h3>
            <p>303, Narayan Apt, Bldg No.8, Narayan Nagar, Gass Kopari, Virar East, Palghar 401305</p>
            <p>9892638303</p>
          </ion-label>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>


</ion-content>
