<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="detailbookingimg" >
    <img src="../../../assets/icon/apartment-payment.jpg" alt="">
  </div>


  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header style="background-color: #f05363 ;">
        <mat-panel-title>
          <h4 style="color:white">Deal Information</h4>
        </mat-panel-title>
        <mat-panel-description>
          <!-- <h6>Complete Deal Info</h6> -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Terms</th>
              <th scope="col">Total Percentage</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Package Deal  </th>
              <td>0.00</td>
            </tr>
            <tr>
              <th>Basic Flat Cost  </th>
              <td>31,62,500.00</td>
            </tr>
            <tr>
              <th>GST   </th>
              <td>31,625.00</td>
            </tr>
            <tr>
              <th>Stamp Duty  </th>
              <td>1,26,800.00</td>
            </tr>
            <tr>
              <th>Registration  </th>
              <td>30,000.00</td>
            </tr>
            <tr>
              <th>Round Off  </th>
              <td>	6,500.00</td>
            </tr>
            <tr>
              <th>Service Charge   </th>
              <td>0.00</td>
            </tr>
            <tr>
              <th>Other Charge </th>
              <td>0.00</td>
            </tr>
            <tr>
              <th>Total Consideration  </th>
              <td>36,07,425.00</td>
            </tr>
            <tr>
              <th>Agreement Value</th>
              <td>31,62,500.00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-expansion-panel><br>

    <mat-expansion-panel>
      <mat-expansion-panel-header style="background-color: #ffc107;">
        <mat-panel-title>
          <h4 style="color:white">Payment Scheme</h4>
        </mat-panel-title>
        <mat-panel-description>
          <!-- <h6>Plan</h6> -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <ion-card class="detailbookingcard">
          <ion-item>
            <ion-icon name="cash" color='primary' slot="start"></ion-icon>
            <ion-label color="primary">Plan <b>20:20:20:40</b> </ion-label>
            <ion-button fill="outline" slot="end">View</ion-button>
          </ion-item>

          <ion-card-content>
            <b>Basic Amount</b>: 27,50,000.00 <br>
            <b>Amount Received</b>: 27,50,000.00 <br>
            <b>Outstanding</b>: 27,50,000.00 <br>
            <b>Due</b>: 27,50,000.00 <br>
            <b>Interest Amount</b>:49,999.00
          </ion-card-content>
        </ion-card>
      </div>
    </mat-expansion-panel><br>

    <mat-expansion-panel>
      <mat-expansion-panel-header style="background-color: #10b759;">
        <mat-panel-title>
          <h4 style="color:white">Payment Receipts</h4>
        </mat-panel-title>
        <mat-panel-description>
          <!-- <h6>Plan</h6> -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <ion-card class="detailbookingcard">
          <ion-item>
            <ion-icon name="cash" color='primary' slot="start"></ion-icon>
            <ion-label color="primary"> ID: <b>482</b></ion-label>
            <ion-button fill="outline" slot="end">View</ion-button>
          </ion-item>

          <ion-card-content>
            <b>Receipt Date</b>: 17/03/2021 <br>
            <b>Payment mode</b>: IMPS <br>
            <b>Cheque Date</b>: - <br>
            <b>Cheque No.</b>: - <br>
            <b>Bank Name</b>: - <br>
            <b>Basic Amount</b>: 49,999.00 <br>
            <b>CGST</b>: - <br>
            <b>SGST</b>: - <br>
            <b>GST Amount</b>: - <br>
            <b>Print Date</b>: - <br>
            <b>Note</b>: - <br>
          </ion-card-content>
        </ion-card>
      </div>
    </mat-expansion-panel><br>

    <mat-expansion-panel>
      <mat-expansion-panel-header style="background-color: #FD7E17;">
        <mat-panel-title>
          <h4 style="color:white">Payment Vouchers</h4>
        </mat-panel-title>
        <mat-panel-description>
          <!-- <h6>Plan</h6> -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <ion-card class="detailbookingcard">
          <ion-item>
            <ion-icon name="cash" color='primary' slot="start"></ion-icon>
            <ion-label color="primary">Voucher ID : <b>482</b></ion-label>
            <ion-button fill="outline" slot="end">View</ion-button>
          </ion-item>

          <ion-card-content>
            <b>Voucher Date</b>: - <br>
            <b>Payment mode</b>: - <br>
            <b>Cheque Date</b>: - <br>
            <b>Cheque No.</b>: - <br>
            <b>Bank Name</b>: - <br>
            <b>Basic Amount</b>: 0.00 <br>
            <b>CGST</b>: - <br>
            <b>SGST</b>: - <br>
            <b>GST Amount</b>: 0.00 <br>
            <b>Print Date</b>: - <br>
            <b>Note</b>: - <br>
          </ion-card-content>
        </ion-card>
      </div>
    </mat-expansion-panel><br>

    <mat-expansion-panel>
      <mat-expansion-panel-header style="background-color: #00b8d4;">
        <mat-panel-title>
          <h4 style="color:white">Demand Letter</h4>
        </mat-panel-title>
        <mat-panel-description>
          <!-- <h6>Plan</h6> -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <ion-card class="detailbookingcard">
          <ion-item>
            <ion-icon name="cash" color='primary' slot="start"></ion-icon>
            <ion-label color="primary">Demand ID : <b>482</b></ion-label>
            <ion-button fill="outline" slot="end">View</ion-button>
          </ion-item>

          <ion-card-content>
            <b>Demand Date</b>: - <br>
            <b>Percentage</b>: - <br>
            <b>Outstanding </b>: - <br>
            <b>Received</b>: - <br>
            <b>Total Due</b>: - <br>
            <b>Action</b>: 0.00 <br>
          </ion-card-content>
        </ion-card>
      </div>
    </mat-expansion-panel>


  </mat-accordion>

</ion-content>
